@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	font-family: 'Lobster Two', cursive;
}

h1 {
	font-size: clamp(5rem, 8vw, 8rem);
	text-align: center;
}

.logo {
	font-size: clamp(1.5rem, 3vw, 2.5rem);
	text-align: center;
}

.logo-emphasis {
	font-size: clamp(2rem, 4vw, 3rem);
	font-weight: 700;
}

.loader {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(93, 93, 93, 0.65);
}

.loader img {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.wrapper {
	display: grid;
	grid-template-columns: minmax(auto, 1200px);
	justify-content: center;
	padding-inline: clamp(0.5rem, 1vw, 1rem);
	/* background-color: dodgerblue; */
}

/* .photo-container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-template-rows: masonry;
	gap: 10px;
} */

.photo-container {
	min-width: 100%;
	column-count: 3;
	column-gap: 10px;
}

@media screen and (max-device-width: 768px) {
	.photo-container {
		column-count: 2;
	}
}
@media screen and (max-device-width: 400px) {
	.photo-container {
		column-count: 1;
	}
}

.photo {
	width: 100%;
	position: relative;
	display: inline-blocks;
	border-radius: 10px;
	margin-bottom: 15px;
	font-family: sans-serif;
	/* height: 300px; */
}

.caption {
	display: none;
}

.photo:hover > .caption {
	display: block;
	position: absolute;
	bottom: 0;
	padding: 1em;
	background-color: rgba(255, 255, 255, 0.6);
	width: 100%;
}

a > * {
	color: black;
}

.photo > img {
	width: 100%;
}
